<% layout('/layouts/boilerplate') -%><%= success %>

  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/bloglisting/<%= listing._id %>?_method=PUT">
      <input name="listing[title]" value="<%= listing.title %>" type="text" />
      <br /><br />
      <textarea name="listing[content]">
<%= listing.content %></textarea
      >
      <br /><br />
    <input
        name="listing[author]"
        value="<%= listing.author %>"
        type="text"
      />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>